<!DOCTYPE html>
<html>
<head>
	<title>REGISTRATION RULES</title>

	
</script>

</head>
<body>


			
	<fieldset>
	
		<font color='blue'><h1><center>REGISTRATION RULES</center></h1></font>
		<table>
		<tr>
		<td>
		<b>Username: </b>
		</td>
		<td>1. Username Can't Be Empty<br/>
		2. Username Can;t Be Less Than 3 Letters<br/>
		3. Username Can't Contain Special Characters
		</td>
		
		<tr>
		
		<tr>
		<td>
		<b>Password: </b>
		</td>
		<td>1. Password Can't Be Less Than 6 Characters or Digits
		
		</td>
		
		<tr>
		
		<tr>
		<td>
		<b>Email </b>
		</td>
		<td>1. Email Can't Be Empty<br/>
		2. Email has to be valid
		
		</td>
		
		<tr>
		
		<tr>
		<td>
		<b>Gender: </b>
		</td>
		<td>1. Gender Can't Be Empty
		
		</td>
		
		<tr>
		
		<tr>
		<td>
		<b>Education: </b>
		</td>
		<td>1. Education Can't Be Empty
		
		</td>
		
		<tr>
		<tr>
		<td>
		<b>User Tyoe: </b>
		</td>
		<td>1. User Type Can't Be Empty
		
		</td>
		
		<tr>
		
		</table><br/>
		<a href='/registration'>Back</a>
		
	</fieldset>
</body>
</html>
