<!DOCTYPE html>
<html>
<head>
	<title>HOME</title>
	<link rel="stylesheet" type="text/css" href="abc/style.css">

</head>
<body>
	<fieldset>
<div class="header">
	<marquee bgcolor="#666"><h1><font color="white">WELCOME HOME <%= uname %></font></h1><br/></marquee>
	</div>
	
        <br/><div align="center"><a href="/home/profile">Profile</a></div><br/><br/>
        <div align="left"><a href="/home/available">Available Product</a></div>
		<div align="right"><a href="/home/offeredproduct">Offered Product</a></div><br/><br/>
		<div align="left"><a href="/home/upload">Sell Product</a></div>
		<div align="center"><a href="/home/customer_info">Customer's Information</a></div>
		
		<div align="center"></div>
		<div align="right"><a href="/home/schedule">Cash Back Products</a></div><br/><br/>
		<div align="left"><a href="/home/ctp">Contact with manager</a></div>
		<div align="center"><a href="/home/cta">Complain to Admin</a></div>
		<div align="right"><a href="/home/ratings">Ratings & Review</a></div><br/><br/>
		<div align="left"><a href="/home/notices">Post</a></div>
		<div align="right"><a href="/home/other_products">All uploaded Products</a></div><br/><br/>
		<div align="center"><a href="/logout">Logout</a></div><br/><br/>
 
		</fieldset>
		
		
</body>
</html>
