<!DOCTYPE html>
<html>
<head>
	<title>Other products</title>
		
	
</head>
<body>
		<form>
			<fieldset>
				<legend><h1>Other products</h1></legend>
				<table border="1">
		<tr>
		
			<th>NAME</th>
			<th>PRODUCTS</th>		
			<th>PRICE</th>
		</tr>

		<% for(var i=0; i < userList.length; i++){ %>
		<tr>
			
			<td><%= userList[i].name %></td>
			<td><%= userList[i].product_name %></td>
			<td><%= userList[i].price%></td>
			
		</tr>
		<% } %>
	</table><br/>
				
				<a href="/home">Back</a>
				
			</fieldset>
			
		</form>
</body>
</html>