<!DOCTYPE html>
<html>
<head>
    <title>POST NOTICES</title>
	
<script type="text/javascript">
function validate()
{var id = document.forms["logform"]["id"].value;
if(id==""){
	alert("Id Can't Be Empty");
return false;

}


	var name = document.forms["logform"]["uname"].value;
if(name==""){
	alert("Name Can't Be Empty");
return false;

}

if(name.length<3){
	alert("Name Can't Be Less Than 3 Letters");
return false;

}


var notice = document.forms["logform"]["notice"].value;

if(notice==""){
	alert("Notice Can't Be Empty");
return false;

}
var date = document.forms["logform"]["date"].value;

if(date==""){
	alert("Date Can't Be Empty");
return false;

}	
	
}
</script>
</head>
<body>
<fieldset>
<h1>POST NOTICES</h1>
	<form name="logform" onsubmit="return validate()" action="" method="POST">

	Id<br/>
		<input type="text" name="id" value=""/><br/>
		
	
	
		product Name<br/>
		<input type="text" name="uname" value=""><br/>
		
	
		
		
		
		Notice<br/>
		<input type="text" name="notice" value=""/><br/>
			Date<br/>
		<input type="date" name="date" value=""/><br/><br/>
	
		
		<input type="submit" name="submit" value="Submit"> 
		<a href ='/home/notices/post/postednotices'>Check List Here</a><br/><br/>
		<a href ='/home/notices'>Back</a><br/>
	
	</form>
	
		
			
		</fieldset>
</body>
</html>