<!DOCTYPE html>
<html>
<head>
	<title>UPDATE SALARY</title>
	<script>
function valid()
{
var id = document.forms["myform"]["id"].value;
if(id==""){
	alert("ID Can't Be Empty");
return false;

}




var name = document.forms["myform"]["name"].value;



if(name==""){
	alert("Name Can't Be Empty");
return false;

}










var salary = document.forms["myform"]["salary"].value;

if(salary==""){
	alert("Salary Can't Be Empty");
return false;

}






}
</script>
</head>
<body>
	<fieldset>
		<h1>UPDATE SALARY</h1> 		
	

	
	

	<form name="myform" onsubmit="return valid()" method="POST">
		<table>
			<tr>
				<td>id</td>
				<td><input type="text" readonly name="id" value="<%=user.id%>"></td>
			</tr>
			<tr>
				<td>name</td>
				<td><input type="text" name="name" value="<%=user.name%>"></td>
			</tr>
			<tr>
				<td>salary</td>
				<td><input type="text" name="salary" value="<%=user.salary%>"></td>
			</tr>
			
			<tr>
				
				<td><input type="submit" name="submit" value="Update"></td>
				<td><a href="/home/salary">Check List Here</a> </td>
			</tr>
		</table>
	</form>
	
	</fieldset>
</body>
</html>