<!DOCTYPE html>
<html>
<head>
    <title>QUESTIONS</title>
	
<script type="text/javascript">
function validate()
{var id = document.forms["logform"]["id"].value;
if(id==""){
	alert("Id Can't Be Empty");
return false;

}


	var name = document.forms["logform"]["uname"].value;
if(name==""){
	alert("Name Can't Be Empty");
return false;

}

if(name.length<3){
	alert("Name Can't Be Less Than 3 Letters");
return false;

}



var question = document.forms["logform"]["question"].value;

if(question==""){
	alert("Question Can't Be Empty");
return false;

}
var date = document.forms["logform"]["date"].value;

if(date==""){
	alert("Date Can't Be Empty");
return false;

}	
	
}
</script>
</head>
<body>
<fieldset>
<h1>UPLOAD QUESTIONS</h1>
	<form name="logform" onsubmit="return validate()" action="" method="POST">

	Id<br/>
		<input type="text" name="id" value=""/><br/>
		
	
	
		Name<br/>
		<input type="text" name="uname" value=""><br/>
		
	
		
		
		
		Question<br/>
		<textarea name="question" value=""></textarea><br/>
			Date<br/>
		<input type="date" name="date" value=""/><br/><br/>
	
		
		<input type="submit" name="submit" value="Submit"> 
		<a href ='/home/exam/take/questions'>Check Questions Here</a><br/><br/>
		<a href ='/home/exam'>Back</a><br/><br/>
	
	</form>
	</fieldset>
</body>
</html>