<!DOCTYPE html>
<html>
<head>
	<title>Sell Product</title>

<script type="text/javascript">
function validate()
{var sname = document.forms["logform"]["sname"].value;
if(sname==""){
	alert("Product Name Can't Be Empty");
return false;
}


var file = document.forms["logform"]["file"].value;
if(file==""){
	alert("File Can't Be Empty");
return false;
}



}	
</script>
</head>
<body>
<fieldset>

	<h1>Sell Product</h1>
	<form name="logform" onsubmit="return validate()" method="POST" action="/home/upload" enctype="multipart/form-data">
	
	Product Name<br/>
	<input type="text" name="sname" value="">
	

	<br/>File<br/>
	<input type="file" name="file"/><br/><br/>
	
	
	<input type="submit" name="submit" value="Upload"/>
<a href="/home/upload/notes">Check List Here</a>
<br/><br/>
		<a href="/home">Back</a>
	</fieldset>	
</body>
</html>
